<form (ngSubmit)="onSubmit()" class="task-form" >
    <h3> Ajouter une nouvelle tâche</h3>

    <div class="form-group" [class.error]="isFieldInvalid('title')">
        <label for="title">Titre *</label>
        <input
            type="text"
            id="title"
            [(ngModel)]="newTask.title"
            name="title"
            placeholder="Titre de la tâche"
            required>
        <span class="error-message"  *ngIf="isFieldInvalid('title')">Le titre est requis.</span>
    </div>

        <div class="form-group" [class.error]="isFieldInvalid('description')">
        <label for="description">Description</label>
        <input
            type="text"
            id="description"
            [(ngModel)]="newTask.description"
            name="description"
            placeholder="Description de la tâche"
            required>
        <span class="error-message"  *ngIf="isFieldInvalid('description')">La description est requise.</span>
    </div>

    <div class="form-group" [class.error]="isFieldInvalid('user')">
        <label for="assignedUser">Assigné à *</label>
        <input 
            type="text" 
            id="assignedUser" 
            [(ngModel)]="newTask.user.firstName" 
            name="assignedUser"
            placeholder="Prenom du professionnel"
            required>
        <input 
            type="text" 
            id="assignedUser" 
            [(ngModel)]="newTask.user.lastName" 
            name="assignedUser"
            placeholder="Nom du professionnel"
            required>
        <span class="error-message" *ngIf="isFieldInvalid('user')">
            L'assignation d'un utilisateur est requise 
        </span>
    </div>

      <div class="form-group">
        <label for="status">Statut</label>
        <select 
        id="status" 
        [(ngModel)]="newTask.status" 
        name="status">
        <option value="À faire">À faire</option>
        <option value="En cours">En cours</option>
        <option value="Terminé">Terminé</option>
        </select>
    </div>

    <button type="submit" class="btn-primary">Ajouter la tâche</button>
</form>
